.header {
  width: 100%;
  height: 60px;
  background-color: green;
  margin: 0 auto;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  z-index: 50;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: start;
}
ul li {
  list-style: none;
  padding: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}
li a {
  text-decoration: none;
  color: white;
}
li a:active {
  color: red;
}
.logo {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 50px;
  border-radius: 50%;
}
.banner {
  width: 70%;
  margin: auto;
  color: red;
  padding-top: 65px;
}
.first-new {
  margin-top: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.first-new span {
  color: red;
  font-weight: 600;
}
.first-new p {
  color: black;
  font-size: 16px;
  font-weight: 300;
  width: 40%;
}
.first-new img {
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containner {
  width: 70%;
  margin: auto;
}
.khmer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 8px;
  border-bottom: 1px solid green;
}
.khmer h3 {
  padding: 8px;
  background-color: green;
  color: white;
}
.broad {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 8px;
  border-bottom: 1px solid green;
}
.broad h3 {
  padding: 8px;
  background-color: green;
  color: white;
}
.funny {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 8px;
  border-bottom: 1px solid green;
}
.funny h3 {
  padding: 8px;
  background-color: green;
  color: white;
}
.row1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.col {
  width: 33%;
  border-radius: 5px 5px 0px 0px;
}
.col img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  transition: all 0.3s;
}
.col img:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
p {
  padding: 2px;
  font-weight: 600;
}
.footer {
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  background-color: green;
  display: flex;
  align-items: start;
  padding-top: 10px;
  color: white;
  box-sizing: border-box;
}
.footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.support {
  width: 33%;
}
.support img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.support h3 {
  margin-bottom: 10px;
}
.support img:hover {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.aba {
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-bottom: 10px;
}
.aba p {
  font-size: small;
  font-weight: normal;
}
.ac {
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.ac p {
  font-size: small;
  font-weight: normal;
}
.about {
  width: 34%;
}
.about h3 {
  margin-bottom: 10px;
}
.about p {
  font-size: small;
  font-weight: normal;
  padding-right: 30px;
}
.contact {
  width: 33%;
}
.contact h3 {
  margin-bottom: 10px;
}
.contact div {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.contact p {
  font-size: 16px;
  font-weight: normal;
}
.mail img {
  width: 18px;
}
.phone img {
  width: 18px;
}
.address img {
  width: 18px;
}
.address {
  margin-bottom: 5px;
}
.social {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
}
.social div img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.copyright p {
  opacity: 0.5;
  font-weight: normal;
}
